html,
body {
	width:100%;
	height:100%;
	font-family:'Times New Roman',serif;
	letter-spacing:1px;
	margin:0;
	padding:0;
	}

#title {
	float:left;
	display:block;
	width:100%;
	padding:90px 0;
  	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
	}
#title span {
	float:left;
	width:100%;
	text-align:center;
	line-height:1.2em;
	margin:0 auto;
	}
#title span.main {
	font-size:90px;
	}
#title span.sub {
	font-size:11px;
	font-family:sans-serif;
	text-transform:uppercase;
	padding:30px 0 0;
	}

#container {
	float:left;
	width:100%;
	background:black;
	}

svg {
	display:block;
	width:70%;
	background:black;
	margin:0 auto;
	cursor:pointer;
	shape-rendering:geometricPrecision;
	}

.ring {
	stroke:#fff;
	stroke-width:0.1;
	fill:none;
	}
.ring.last {
	stroke-width:1.5;
	}

.cross {
	stroke:#fff;
	stroke-width:1;
	fill:none;
	}

.node {
	stroke:#fff;
	stroke-width:0.5;
	fill:transparent;
	}

.cross_01,
.cross_02 {
	stroke:none;
	fill:#fff;
	}

.conn {
	stroke:red;
	stroke-width:0.25;
	fill:none;
	}







