html,
body {
	width:100%;
	height:100%;
	background:black;
	margin:0;
	padding:0;
	}

svg {
	display:block;
	width:70%;
	background:black;
	margin:0 auto;
	}

.ring {
	stroke:#fff;
	stroke-width:0.25;
	fill:none;
	}
.ring.highlight {
	}